article{
    font-family: 'Open Sans', sans-serif;
}

.Bunner_2 {
    background-repeat: no-repeat;
    background-image: url(../img/bg_banner.png);
    background-position: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 621px;
    z-index: 46;
}
.Bunner_2s {
    margin-top: 621px;
}
.text_on_bunner{
    font-size: 45px;
    line-height: 1.222;
    color: rgb(104, 117, 126);
    text-align: center;
    -moz-transform: matrix( 1.13891365120491,0,0,1.13891365120491,0,0);
    -webkit-transform: matrix( 1.13891365120491,0,0,1.13891365120491,0,0);
    -ms-transform: matrix( 1.13891365120491,0,0,1.13891365120491,0,0);
    position: absolute;
    margin-top: 140px;
    margin-left: 12%;
    z-index: 62;
}

.appstore{
    background-image: url(../img/appstore.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
}

.playmarket{
    background-image: url(../img/playmarket.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
}

.winphone{
    background-image: url(../img/winphone.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
}

.blackberry{
    background-image: url(../img/blackberry.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
}

.appstore:hover{
    background-image: url(../img/appstore2.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

.playmarket:hover{
    background-image: url(../img/playmarket2.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

.winphone:hover{
    background-image: url(../img/winphone2.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

.blackberry:hover{
    background-image: url(../img/blackberry2.png);
    width: 57px;
    height: 57px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

.icons {
    line-height: 49px;
    text-align: center;
    z-index: 62;
    position: absolute;
    margin-top: 470px;
    margin-left: 15%;
}

.Fast_control{
    padding-top: 80px;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
}

.text_on_article
{
    text-align: center;
    font-size: 45px;
    color: rgb(104, 117, 126);
}

.next_text{
    font-size: 17px;
    color: #4b4b4c;
    line-height: 1.765;
    text-align: center;
}

.iphones {
    margin-top: 77px;
    margin-bottom: 69px;
}

.iphone1{
    width:17%;
    margin-right: 22px;
}
.iphone2{
    width:17%;
    margin-right: 22px;
    margin-left: 56px;
}
.iphone3{
    width:17%;
    margin-left: 56px;
}

.next {
    position: absolute;
    width: 1.8%;
    margin-top: 11%;
}

