footer{
    font-family: 'Open Sans', sans-serif;
    background: #eef0f2;
    width: 100%;
    left:0px;
    position: absolute;
    text-align: center;
}

.social{
    font-size: 18px;
    color: #5a5a5a;
    background: #f7f8f9;
    width: 100%;
    height: 78px;
    text-align: center;
}
.text_footer{
    float:left;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text_footer:hover{
    float:left;
    margin-left: 10%;
    cursor: pointer;
}

.text_end{
    margin-top: 33px;
    margin-bottom: 33px;
}

.facebook{
    background-image: url(../img/facebook.png);
    width: 46px;
    height: 46px;
    margin-left: 17px;
    margin-top: 16px;
    float: right;
}

.googleplus{
    background-image: url(../img/googleplus.png);
    width: 46px;
    height: 46px;
    margin-left: 17px;
    margin-top: 16px;
    float: right;
}

.twitt{
    background-image: url(../img/Twitt.png);
    width: 46px;
    height: 46px;
    margin-left: 17px;
    margin-top: 16px;
    float: right;
    margin-right: 10%;
}

.facebook:hover{
    background-image: url(../img/facebook2.png);
    width: 46px;
    height: 46px;
    margin-left: 17px;
    margin-top: 16px;
    float: right;
    cursor: pointer;
}

.googleplus:hover{
    background-image: url(../img/googleplus2.png);
    width: 46px;
    height: 46px;
    margin-left: 17px;
    margin-top: 16px;
    float: right;
    cursor: pointer;
}

.twitt:hover{
    background-image: url(../img/Twitt2.png);
    width: 46px;
    height: 46px;
    margin-left: 17px;
    margin-top: 16px;
    float: right;
    cursor: pointer;
}